@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FF6961;
  margin: 24px;
}

.pomodoro {
  width: 400px;
  padding: 24px 32px;
  background-color: rgba(240, 255, 255, 0.445);
  font-family: 'Julius Sans One', sans-serif;
  font-size: 64px;
  color: azure;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  margin: auto auto;
}

.pomodoro__time{
  display: inherit;
  justify-content: center;
  
}

.pomodoro__buttons{
  display: inherit;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

button{
  width: 50px;
  height: 50px;
  border: none;
  background-color: azure;
  border-radius: 50%;
}

.pomodoro__btn{
  width: 48px;
  height: 48px;
}

button:hover{
  transition-duration: 0.20s;
  box-shadow: 0 0 5px 5px rgb(155, 155, 155);
}

button:active{
  transform: scale(0.90);
}

.reset_icon:active {
  transition: all 0.35s ease;
  transform: scale(0.90);
  transform-origin: rotate(-360deg);
}

@media screen and (max-width: 600px) {
  .pomodoro { 
    width: 300px;
  }
}